@font-face {
    font-family: 'bebas neue';
    src: url('../FADPBOOTSTRAP/fonts/BebasNeue-Regular.eot');
    src: url('BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Regular.woff') format('woff'),
        url('BebasNeue-Regular.ttf') format('truetype'),
        url('BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
background-color: #2e8cff;
}

.contenido{
    border: solid;
    height: 1000px;
}

.contenido div{
    border:solid white;
    height: 500px;
}

.foto img {
    width: 700px;
}


.mislider{
    border:solid white;
    height:300px;

}

.navbar-brand{

    color: rgb(240, 255, 255);
    font-size: 80px;  
}

.quienes{
    font-size: 50px;
    font-family:bebas neue;
}

#textounico{

    background: rgba(255, 255, 225, 0.3);
    text-align: justify;
    width: 50%;

}