@font-face{
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue-Regular.woff') format('woff'),
    url('fonts/BebasNeue-Regular.ttf') format('truetype'),
    url('fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    src: url('fonts/BebasNeue-Regular.eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
background-color: #750b0b;
}

.contenido{
    border: solid;
    height: 1000px;
}

.contenido div{
    border:solid white;
    height: 500px;
}

.mislider{
    border:solid white;
    height:300px;

}

.navbar-brand{

    color: rgb(240, 255, 255);
    font-size: 80px;  
}

